@media (min-width:320px) and (max-width:575.98px){
    #banner h3 {
        font-size: 13px;
        font-weight: 400;
    }
    #banner h1 {
        font-size: 17px;
        letter-spacing: 9px;
        background-color: red;
    }
    #banner p {
        font-size: 11px;
        line-height: 12px;
    }
}
/* @media (min-width:992px) and (max-width:1199.98px){
    #banner .banner_content h1 {
        font-size: 55px;
        letter-spacing: 25px;
    }
    #about .about_item {
        padding: 35px 40px 55px;
    }
} */